body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: darkslategrey;
}
h3{
    font-size: 35px;
}
p{
    font-size: 20px;
}
.coral-color{
    color: coral;
}
.light-color{
    color: cornflowerblue;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    margin-top: 80px;
}
.button-design{
    text-decoration: none;
    background-image: linear-gradient(coral,orange);
    padding: 20px;
    border-radius: 30px;
    font-weight: 650;
    color: white;
    box-shadow: 10px 10px 10px rgb(235, 101, 53);
}
.top-padding{
    padding-top: 100px;
}
.top-padding-s2{
    padding-top: 50px;
    padding-bottom: 30px;
}
.bg-image{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 50px;
}
.center-align{
    text-align: center;
}
.mission{
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px slategrey;
}
.mission img{
    height: 200px;
    width: 270px;
}
#mission-margin{
    margin:100px 20px;
}